.ServiceList {
	position: fixed;
  top: 0;
	bottom: 0;
	right: 0;
	z-index: 5;
	padding: 1rem;
	width: 10%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 20px rgba(168, 168, 168, 0.9);

	.title{
		color: var(--secondary-color);
		font-size: large;
		font-weight: bold;
		text-decoration: underline;
	}

	a {
		margin-top: 0.5rem;
		color: var(--secondary-color);

		&:hover {
			transform: scale(1.1);
			font-weight: bold;
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}

  @media screen and (min-width: 2000px) {
    width: 5%;
	}
}
