@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.footer {
	position: relative;

	width: 100%;
	text-align: center;
	margin-top: 1rem;
}

.app__footer_signing {
	margin: auto;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 1rem;
	text-align: center;
	width: 20%;
	padding: 0.5rem 2rem;
	font-size: 12px;
	font-family: 'Charm', cursive;
	color: #a3a3a3;
	border-top: solid 1px#d3d3d3;
	border-bottom: solid 1px#d3d3d3;
}
