.app__offers {
	width: 100%;
	flex-direction: column;
	padding: 5rem 0;
}

.app__offers_portfolio {
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.app__offer_item {
		width: 100%;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
		margin: 0 2rem;
		margin-top: 1rem;
		padding: 1rem 1rem 1rem 1rem;

		border-radius: 0.5rem;
		background-color: #fff;
		color: #000;
		transition: all 0.3s ease;
	}
}

.p_text {
	font-size: 0.8rem;
	text-align: center;
	color: var(--gray-color);
	line-height: 1.5;

	@media screen and (min-width: 2000px) {
		font-size: 1.75rem;
	}
}

.bold_text {
	font-size: 1rem;
	font-weight: 800;
	color: var(--black-color);
	text-align: center;

	@media screen and (min-width: 2000px) {
		font-size: 2rem;
	}

	@media screen and (max-width: 450px) {
		font-size: 0.9rem;
	}
}

.mainContent {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	@media screen and (max-width: 450px) {
		width: 100%;
	}
}

.app__offer_img {
	width: 25%;
	height: auto;
	position: relative;

	img {
		width: 180px;
		height: 180px;
		border-radius: 0.5rem;
		object-fit: cover;
		@media screen and (max-width: 1000px) {
			width: 100%;
		}
	}

	@media screen and (min-width: 2000px) {
		height: 350px;
	}
}

.app__offer_content {
	width: 60%;
	position: relative;
	margin-top: -2rem;
	flex-direction: column;
}

.arrowWrapper {
	margin-top: -20px;

	svg {
		fill: var(--secondary-color);
		width: 200%;
		height: auto;

		&:hover {
			transform: scale(1.1);
			cursor: pointer;
		}
	}
	@media screen and (max-width: 900px) {
		margin-top: -10px;

		svg {
			width: 150%;
		}
	}
}

.app__offer_tag {
	float: right;

	padding: 0.5rem;
	background-color: var(--secondary-color);
	display: inline-flex;
	border-radius: 20px;
	@media screen and (max-width: 900px) {
		right: 25%;
	}

	p {
		font-size: 0.8rem;
		text-transform: uppercase;
		font-weight: 800;
		color: var(--white-color);
		line-height: 1.5;

		@media screen and (min-width: 2000px) {
			font-size: 1.75rem;
		}
	}
}

.hr {
	width: 80%;
	margin-left: 10%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.detailTitle {
	text-align: center;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 1000;
	color: var(--secondary-color);
	line-height: 1.5;

	@media screen and (min-width: 2000px) {
		font-size: 1.75rem;
	}
}

.detailsContainer {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;

	.detailListTitle {
		text-align: center;
		font-size: 0.8rem;
		font-weight: 600;
		color: var(--secondary-color);
		line-height: 1.5;
		margin-bottom: 1rem;

		@media screen and (max-width: 900px) {
			margin-top: 1rem;
		}

		@media screen and (min-width: 2000px) {
			font-size: 1.75rem;
		}
	}

	ul:nth-child(1) {
		list-style: none;

		li {
			margin-top: 0.5rem;
			margin-left: 1rem;
			text-align: left;

			@media screen and (max-width: 900px) {
				flex-direction: center;
			}
		}
	}

	ul:nth-child(2) {
		list-style: none;

		li {
			margin-top: 0.5rem;
			margin-left: 1rem;
			text-align: center;
		}
	}

	ul:nth-child(3) {
		list-style: none;

		li {
			margin-top: 0.5rem;
			margin-right: 1rem;
			text-align: center;

			@media screen and (max-width: 900px) {
				flex-direction: column;
			}
		}
	}

	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
}
