.app__header {
	position: relative;
	background: url("/bgIMG.png");
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	flex: 1;
	width: 100%;
	height: 100%;
	flex-direction: row;
	padding: 6rem 2rem 1rem;
	z-index: 0;

	@media screen and (min-width: 2000px) {
		padding-top: 8rem;
	}

	@media screen and (max-width: 1200px) {
		flex-direction: column;
	}

	@media screen and (max-width: 450px) {
		padding-top: 6rem 1rem 2rem;
	}
}

.app__header_info {
	flex: 0.85;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;

	@media screen and (max-width: 2000px) {
		width: 100%;
		margin-right: 0rem;
	}
}

.app__header_badge {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	flex-direction: column;
	margin: 1rem;

	.badge_cmp,
	.tag_cmp {
		padding: 1rem 2rem;
		border: var(--white-color);
		border-radius: 15px;
		flex-direction: row;
		width: auto;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}

	@media screen and (max-width: 1200px) {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

.app__header_circles {
	display: flex;
	flex: 0.75;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 120%;
	margin-left: 2rem;
	z-index: 0;

	img {
		z-index: 1;
		width: 100%;
		height: auto;
	}

	div {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: var(--white-color);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

		img:hover {
			transform: scale(1.1);
		}
	}
	div:nth-child(1) {
		width: 110px;
		height: 110px;
	}
	div:nth-child(2) {
		margin: 1.75rem;
		width: 80px;
		height: 80px;
	}
	div:nth-child(3) {
		width: 50px;
		height: 50px;
	}

	@media screen and (min-width: 2000px) {
		div:nth-child(1) {
			width: 220px;
			height: 220px;
		}
		div:nth-child(2) {
			width: 160px;
			height: 160px;
		}
		div:nth-child(3) {
			width: 100px;
			height: 100px;
		}
	}
	@media screen and (max-width: 1200px) {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 0;

		div {
			margin: 1rem;
		}
	}
}

.app__header_img {
	flex: 1;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
	margin-left: 2rem;

	span {
		z-index: 1;
		width: 90%;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
